.grid-card-container {
  background-color: white;
  color: rgb(71, 23, 81);
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 30px;
  padding-bottom: 15px;
  margin-top: 30px;
}

.cards-list-container {
  display: flex;
  margin-left: 90px;
  padding-top: 30px;
  padding-bottom: 15px;
}

.cards-list-items {
  background-color: rgb(230, 222, 222);
}

.card-item-paragraph {
  margin-left: 15px;
  margin-right: 15px;
}

.grid-card-title {
  text-align: center;
  background-color: rgb(230, 222, 222);
}

.grid-card-btn {
  margin-left: 150px;
}
