.credit-form {
  background-color: white;
  color: rgb(71, 23, 81);
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 30px;
  padding-bottom: 15px;
}

.credit-fieldset {
  width: 700px;
  margin: auto;
  margin-bottom: 15px;
  background-color: rgb(230, 222, 222);
}

.credit-fieldset-legend {
  font-size: 20px;
}

.credit-btn-enviar {
  text-align: center;
}
