.main-footer {
    background-color: rgb(71, 65, 65);
    padding-bottom: 15px;
    text-align: center;
    color: #FFF;
    padding-top: 15px;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    margin-top: 30px;
    
  }
  
  